.header{
  width: 100vw;
  height: 45px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-box{
  width: 20vw;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.title-box a{
  height: 100%;
  color: #ffffff;
  font-size: 27px;
  text-decoration: none;
}

.title-box a:hover{
  color: gray;
}

.user-box{
  height: 100%;
  width: 500px;
  margin: 0 20px;
}

.user-list{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-list a:hover{
  color:gray;
}

.header-user-btn{
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  border: solid 1px #ffffff;
  position: relative;

}

.notification-result{
  background-color: #ffffff;
  border: solid 1px black;
  position: absolute;
  top: 42px;
  max-height: 450px;
  overflow: scroll;
  z-index: 3;
}

.notification-child{
  width: 400px;
  height: 50px;
  padding: 5px 10px;
  border-bottom: solid 1px gray;
  text-align: center;
}

.delete-element{
  padding: 5px;
  margin-left: auto;
  border-bottom: solid 1px gray;
  background-color: #f3f3f3;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}
