a {
  text-decoration: none;
  color: blue;
}

.list{
  background-color: #f8f8f8;
  height:200px;
  width: 60vw;
  padding: 10px;
  margin: 0 auto 20px;
  border: solid 1px gray;
  border-radius: 20px;
  box-shadow: 0 2px 3px gray;
  display: flex;
}

.review-contents{
  display: flex;
}

.car-img-content{
  width: 280px;
  height: 180px;
  padding: 10px;
}

.car-img{
  width: 280px;
  height: 180px;
  object-fit: cover;
}

.car-info{
  width: 520px;
  padding: 20px;
}

.names{
  display: flex;
  justify-content: space-between;
}

.spans{
  color: gray;
}

.review-title{
  color: black;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.car-name-type{
  margin-left: 20px;
}

.review-text-sentence{
  height: 100px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}