.main-index-window{
  height: 100%;
  width: 100%;
}

.side-header{
  height: 100%;
  width: 100vw;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
}

.car-search-box{
  width: 100%;
  height: 100%;
  margin-top: 16px;
}

.keyword-search-form{
  width: 300px;
  position: relative;
}

.search-result{
  width: 300px;
  padding-bottom: 10px;
  position: absolute;
}

.child{
  height: 30px;
  width: 302px;
  padding: 4px 0 auto;
  border: solid 1px gray;
  font-size: 14px;
  background-color: #ffffff;
  cursor: pointer;
  cursor: hand;
}

.child:hover{
  background-color: wheat;
}

.new-review-btn{
  width: 200px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  border:solid 1px black;
  background-color: burlywood;
  text-align: center;
}

.new-review-btn:hover{
  background-color: azure;
}

.new-review-btn-text{
  color:black;
  font-size: 20px;
}

.lower-window{
  max-height: 3700px;
  height: 100%;
  width: 100vw;
  display: flex;
  background-color: gray;
}

.main-review{
  background-color: darkcyan;
  width: 82vw;
  min-height: 1000px;
  height: 100%;
}

.review-header{
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.scraping-box{
  height: 150;
  width: 75vw;
  padding: 10px;
  margin: 20px auto;
  background-color: #ffffff;
}

.scraping-title{
  text-align: center;
}

.non-review{
  width: 100%;
  height: 200px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews{
  width: 80vw;
  height: 100%;
  margin: auto;
}

.review-footer{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination{
  display: flex;
  align-items: center;
}

.kaminari-other{
  color: #ffffff;
  font-size: 20px;
  padding: 4px;
  margin: 3px 5px;
  background-color: #666666;
  border: solid 1px #ffffff;
}

.kaminari-page{
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.kaminari{
  height: 40px;
  width: 40px;
  font-size: 20px;
  padding: 4px;
  margin: auto 10px;
  background-color: #666666;
  border: solid 1px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}