.new-review-form{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 30px 100px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
}

.main-new-form{
  width: 100%
}

.make-new-text{
  width: 50%;
  padding-bottom: 30px;
  color: black;
  font-size: 40px;
}
.form-group{
  margin: 15px auto; 
}

.indispensable{
  color: red;
}

.car-title{
  padding: 0 10px;
  font-size: 30px;
  width: 1000px;
}

.select-image-box{
  height: 230px;
  width: 1000px;
  background-color: #f1f1f1;
  display: flex;
  overflow: auto;
}

.image-list{
  height: 100%;
  display: flex;
}

.image-element{
  height: 210px;
  width: 270px;
  padding: 9px 0;
  border: solid 1px black;
}

.delete-btn{
  width: 32px;
  margin: auto;
  cursor: pointer;
  cursor: hand;
  color: blue;
}

.preview-car-image{
  height: 180px;
  width: 270px;
  object-fit: contain;
}

.select-file-box{
  height: 100%;
  width: 100%;
}

.select-file{
  min-width: 288px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border: solid 1px black;
  background-color: grey;
  cursor: pointer;
  cursor: hand;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-file-text{
  height: 26px;
  width: 100px;
  font-size: 20px;
}

.car-text{
  padding: 0 10px;
  width: 1000px;
  height: 300px;
}

.car-car-name{
  width: 300px;
}

.select-box{
  width: 300px;
}

.tag-form{
  margin-bottom: 50px;
}

.car-tag{
  width: 300px;
}
