.new-review-form{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 30px 100px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
}

.main-new-form{
  width: 100%
}

.make-new-text{
  width: 50%;
  padding-bottom: 30px;
  color: black;
  font-size: 40px;
}
.form-group{
  margin: 10px auto; 
}

.indispensable{
  color: red;
}

.car-title{
  padding: 0 10px;
  font-size: 30px;
  width: 1000px;
}

.car-text{
  padding: 0 10px;
  width: 1000px;
  height: 300px;
}

.car-car-name{
  width: 300px;
}

.select-box{
  width: 300px;
}

.tag-form{
  margin-bottom: 50px;
}

.car-tag{
  width: 300px;
}
